[2018-07-18 10:43] skobylite opened #1 "404 error on latest release"
Hi - 404 error on the latest release link: https://github.com/w0lfschild/app_updates/raw/master/MacPlus/MacPlus_master.zip

Thanks!

[2018-07-22 17:27] Patrik-svobodik opened #2 "unable to build"
FConvenience.h is missing,  there are some problems with developer profiles.

btw application.xib is named appliaction.xib

[2018-07-22 22:51] w0lfschild commented on #2
FConvenience.h is in the project here so not sure how it's missing. Maybe for some reason or another it's trying to use a hard path including my username.

It's codesigned using my developer profile so if you want to build it yourself you'd need to replace my profile with your own.

Thanks for pointing out the appliaction typo.

[2018-07-22 22:52] w0lfschild commented on #1
It has not been released yet.

[2018-08-30 14:04] drewauff commented on #2
I can't build either, just sits trying to sign forever..

[2018-08-30 14:27] Patrik-svobodik commented on #2
Found a solution, you have to sign multiple apps, not only the MacPlus
čt 30. 8. 2018 v 16:04 odesílatel drewauff <notifications@github.com>
napsal:

[2018-09-01 07:59] #2 closed

[2018-11-22 01:37] didongke opened #3 "mySIMBL does not work"
I try mySIMBL.app on macOS 10.12.4 (VmWare virtual  machine). But it does not work.

[2018-12-21 05:21] sammarcus commented on #1
What are the differences between MacForge and mySIMBL?

[2019-01-24 23:00] nihilus opened #4 "Download doesn't work"
Apparently the friendly GitHub staff took down the app_updates repo... :-/

[2019-02-02 15:12] npyl opened #5 "Built and Tested MacForge"
Just wanted to give a small review even though I know this is a beta software and not released yet. :)

So far works great!  I especially like the fact that macOS doesn't ask for permission every time MacForge tries to inject a plugin like it used to with Mojave/mySIMBL.

Even my plugin (EnhanceDiskUtil) worked that somehow compatibility broke when I updated to Mojave.

Keep up the good work.

[2019-05-20 21:56] FreddieOliveira opened #6 "Uninstall not working"
Clicking on `System Info -> Unistall SIMBL` does not remove any created folder/file nor kill any of the SIMBL process. After clicking the Uninstall button and running

`sudo find / -iname "*simb*" 2>/dev/null`

it's still possible to see residual files left on the system. Also killing SIMBL process is a pain in the ass, since it restarts automatically

[2019-08-06 19:02] w0lfschild commented on #6
This project does not use SIMBL.

For removing mySIMBL stuff:

The SIMBL agent is a launchagent that will restart itself so first you have to unload it.

[code]

In terms of files you want to remove these (if they exist):

[code]

[2019-08-06 19:03] #4 closed

[2019-08-06 19:04] w0lfschild commented on #3
This repo is for MacForge

I think you're looking for... https://github.com/w0lfschild/mySIMBL

[2019-08-06 19:04] #3 closed

[2019-08-06 19:25] w0lfschild commented on #1
The main differences are:

MacForge is using MachInject instead of SIMBL
MacForge works on 10.14+, mySIMBL doesn't work on 10.15 and works questionably on 10.14
MacForge can installing more than just plugins
MacForge has a refreshed UI

[2019-08-06 19:25] #1 closed

[2019-08-09 21:20] nr1q opened #7 "Can't install"
I got this message when opening:

“MacForge.app” is damaged and can’t be opened. You should move it to the Trash.

I'm on Mojave 10.14.6

[2019-08-10 00:13] w0lfschild commented on #7
Should be fixed now. Let me know if it's still not working.

[2019-08-10 00:13] #6 closed

[2019-08-10 00:15] w0lfschild commented on #5
Thanks for the feedback!

[2019-08-10 00:15] #5 closed

[2019-08-10 01:48] drewauff opened #8 "Update button does nothing"
2 Things:

1) I have one app indicating update is available but clicking on update button does nothing.

2) Can't load SafariStand bundle (v11)

[2019-08-10 03:12] w0lfschild commented on #8
@drewauff

1. What plugin are you trying to update?
2. SafariStand doesn't work on Safari versions above 10 I believe : https://github.com/anakinsk/SafariStand
3. If you're on 10.4 or above any plugin required both SIP and AMFI to be off to load into Safari

[2019-08-10 06:53] drewauff commented on #8
SpacesRenamer..

We communicated via email quite awhile ago and you said you managed to get SafariStand to inject...

[2019-08-10 07:00] w0lfschild commented on #8
Hmm... Yeah I kinda dropped off programming in my spare time for a bit, don't really remember the correspondence.

I can get plugins to inject into Safari it's more that SafariStand has like no remaining functionality and I'm not going to be the person to update it because I don't even use Safari. Maybe if @anakinsk is still around you could ask them.

I will look into the failing update issue.

[2019-08-10 07:06] drewauff commented on #8
ok , did that..but clicking on "get" just results in the button changing to "open"

[2019-08-10 07:24] w0lfschild commented on #8
Does it work if you just let it sit for a while?

It's downloading 8MB each time you click the update button. I need to add some sort of progress indicator now that MacForge supports apps and themes.

[2019-08-10 09:04] drewauff commented on #8
nope .. does nothing....

[2019-08-11 04:48] #7 closed

[2019-08-12 18:48] nr1q commented on #7
Thanks a lot!

[2019-08-14 00:55] w0lfschild commented on #8
Sorry for the long wait but I think I've actually figured out the problem now. It had to do with the plugin folder permissions.

Try version [0.9.11](https://github.com/w0lfschild/app_updates/raw/master/MacForge/MacForge.zip)

[2019-08-20 05:57] #8 closed

[2019-08-23 06:10] Jingxizi opened #9 "pop error window showed "NSInvalidArgumentException" when use selenium open chrome"
hello, w0lfschild
when I use selenium to open a chrome window in unvisibleway, MacForce will pop a window showed NSInvalidArgumentException. MacForce only installed afloat.

code is:
chrome_options = Options()

chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('window-size=1920x3000')
chrome_options.add_argument('--disable-gpu')
chrome_options.add_argument('--hide-scrollbars'

[2019-08-31 00:27] kingtosh opened #10 "Problem: MacForgeHelper crashes SecurityAgent."
In loading MacForgeHelper, it crashes SecurityAgent. And the window of input youser name and pass freeze on the top level. Another windows have gone behind.

So, please fix this problem.

[2019-08-31 03:22] w0lfschild commented on #10
You'd need to go into more detail. What is SecurityAgent?

Also this sounds like maybe a specific plugin issue?

[2019-08-31 04:30] kingtosh commented on #10
this is a path of SecurityAgent.
/System/Library/Frameworks/Security.framework/Versions/A/MachServices/SecurityAgent.bundle
Apple's system protecting function.
Inputting user name and password, it is loaded by MacOS.

[2019-08-31 04:56] kingtosh commented on #10
![screen](https://user-images.githubusercontent.com/10953627/64059411-09020a00-cbf7-11e9-8e31-7d7421c871f6.jpg)

[2019-08-31 05:09] w0lfschild commented on #10
Okay interesting.

macOS version?
Do you have any plugins loaded?
Do you have System Integrity Protection on or off?

[2019-08-31 05:23] kingtosh commented on #10
Sorry!, I forgot them.

my MacOS is 10.12.6 (16G2128), and using Afloat.
Of course, I had turned off SIP, but MacForge tells SIP still on (i don't know why).

[2019-08-31 05:27] w0lfschild commented on #10
If you turn off afloat does this issue still occur?

[2019-08-31 05:31] kingtosh commented on #10
![スクリーンショット 2019-08-31 14 29 12](https://user-images.githubusercontent.com/10953627/64059668-f76f3100-cbfb-11e9-94be-9c4734211c51.png)

[2019-08-31 05:36] kingtosh commented on #10
Turning off afloat, this didn't occur.

[2019-08-31 05:38] kingtosh commented on #10
So, just afloat's a problem is this, isn't it?

[2019-08-31 05:57] w0lfschild commented on #10
That would be my guess. In order to stop it from loading into SecurityAgent there would probably need to be changes to made to Afloat to look for classes specific to that and avoid touching those windows.

[2019-09-02 02:04] Jingxizi commented on #9
@w0lfschild
![Snipaste_2019-09-02_09-59-39](https://user-images.githubusercontent.com/24663392/64086121-fad3fb00-cd68-11e9-8ad6-6c90b8055138.jpg)

[2019-09-02 21:35] w0lfschild commented on #9
Should be fixed in 0.10.3

[2019-09-02 21:36] #10 closed

[2019-09-02 21:36] #9 closed

[2019-09-04 06:30] pcr910303 opened #11 "Homebrew Cask Tap for MacForge"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I would appreciate if MacForge can be installed with [Homebrew Cask](https://github.com/Homebrew/homebrew-cask).

**Describe the solution you'd like**
A Homebrew Cask tap for MacForge is maintained, so that installing MacForge (when SIP disabled) should be a one-liner.
[code]
I have the intentions to maintain th

[2019-09-05 00:14] w0lfschild commented on #11
I've personally had basically no experience using Homebrew. IIRC someone made a cask for cDock and possibly mySIMBL.

If this is something you'd like to maintain you're welcome to. Also if it's something simple/scriptable I could add to the build/publishing routine for the app.

[2019-09-05 03:05] pcr910303 commented on #11
@w0lfschild Ok, I'll (try to) maintain the home-brew repo. May I ask how MacForge should remove itself?
If there is no standard uninstallation procedure I'll remove these files on uninstallation:
[code]
If there is (a standard uninstallation prodeure), I'll like to invoke it (preferably a shell script).
I can't see any uninstall button however; it looks like it's trying to find out if MacForge.app

[2019-09-05 03:32] w0lfschild commented on #11
Yeah there's currently no uninstall as quitting the menubar and trashing it will stop any injection from happening.

If you're envisioning removing all traces of the application here's what it uses outside the user folder:

[code]

[2019-09-05 04:48] pcr910303 commented on #11
Ok, thanks! I'll make a Cask repo right away. :-)

[2019-09-05 05:44] pcr910303 opened #12 "MacForge incorrectly reports itself uninstalled when another copy of MacForge.app is in ~/.Trash"
## Bug Report

**Current Behavior**
MacForge reports itself uninstalled when another copy of MacForge.app is in ~/.Trash.

**To Reproduce**
Steps to reproduce the behavior:
1. Download another copy of MacForge.app.
2. Trash the other copy to ~/.Trash.
3. Trash any other file, and MacForge will report itself uninstalled.

**Expected behavior/code**
MacForge should correctly not report itself uninst

[2019-09-05 08:59] pcr910303 commented on #11
@w0lfschild Are there any scriptable methods to install/uninstall plugins too? I would prefer if the uninstallation process can cleanly remove MacForge's plugins.

I've tried clearing MacForge from my Mac right now (with SpacesRenamer enabled) and I've currently found these:

[code]

My understanding is that it is out of MacForge's control where the Cocoa bundle will write files too.
I would prefe

[2019-09-05 12:01] pcr910303 commented on #11
@w0lfschild Added a draft Cask at sscotth/homebrew-sip#5.

[2019-09-05 18:37] bwt615 opened #13 "Flashlight does not work with MacForge in Catalina"
Beta 7 - Does not load commands via spotlight like expected

Really unclear what the System Info tab is saying. Application blacklist shows mySimbl which makes me wonder whether that load is being blocked. SIP is disabled.

[2019-09-05 20:28] w0lfschild commented on #13
The blacklist is a list of apps that MacForge will not try to load into.

Flashlight loads into the Spotlight application.

It's most likely that Flashlight needs updating for Catalina.

[2019-09-05 22:51] bwt615 commented on #13
Ah. Any plans to fix that? Any way to transfer this bug over there?

On Sep 5, 2019, at 4:28 PM, Wolfgang Baird <notifications@github.com> wrote:

﻿

The blacklist is a list of apps that MacForge will not try to load into.

Flashlight loads into the Spotlight application.

It's most likely that Flashlight needs updating for Catalina.

—
You are receiving this because you authored the thread.
Reply

[2019-09-06 03:01] w0lfschild commented on #12
Most likely I'll just add a check to see if the helper itself is in the trash. Even though this app is somewhat targeted at a power user (someone willing to disable SIP and AMFI) the goal is for it to be simple to use and most people would consider throwing an application in the trash uninstalling it.

[2019-09-07 23:55] w0lfschild commented on #13
I will look into this at some point, yes.

[2019-09-08 22:04] w0lfschild commented on #11
@pcr910303 I don't really have any control over what a plugin does outside `/Library/Application Support/MacEnhance`. Something like SpacesRenamer is not just a plugin but also an Application. I do plan on adding some functionality to manage apps installed by MacForge at some point in the future.

[2019-09-24 04:35] w0lfschild commented on #12
0.11.1 will now only show that prompt if there is no longer a file where the helpers bundle was when it launched.

[2019-09-24 05:52] #12 closed

[2019-09-25 15:32] jxj24 opened #14 "'damaged and could not be opened...'"
Version 0.11.3, on Sierra 10.12.6, SIP disabled.

Re-DLed, still can't launch.

Thanks

[2019-09-25 16:43] TheBingPlays commented on #14
had the same problem this solved it for me

run this in terminal
xattr -cr /Downloads/MacForge.app

[2019-09-25 16:57] w0lfschild commented on #14
I'll look into this after I get off work.

[2019-09-25 17:10] TheBingPlays commented on #14
I still can't get iMessage parity to work either way. With either MacForge or mySIMBIL. Neither let me send effects

[2019-09-25 19:05] w0lfschild commented on #14
@TheBingPlays

Is it not loading at all or are the effects just not working?

[2019-09-25 19:10] TheBingPlays commented on #14
Loads in imessage ok but no effects. No (sent with echo) or anything. I click on the effect I want to use and it does nothing. The menu is still up and when I push enter to send, again no (sent with *effect*) at all.

[2019-09-25 19:19] jxj24 commented on #14
Thanks, that fixed it.

[2019-09-25 19:24] TheBingPlays commented on #14
@w0lfschild
if youd like to see what im talking about
https://imgur.com/a/OrJWfeK

[2019-09-25 19:25] TheBingPlays commented on #14
@jxj24

no problem

[2019-09-25 23:45] w0lfschild commented on #14
@TheBingPlays

Odd. What version of macOS? It's working fine for me on the latest Catalina beta and AFAIK it should still be working on all old version as well.

@jxj24

Original issue has been fixed so I'm closing this thread.

[2019-09-25 23:45] #14 closed

[2019-09-26 00:39] TheBingPlays commented on #14
Macos high Sierra

[2019-10-01 03:29] upgrayedd22 opened #15 "In MacForge > Preferences > Plugins section, "Default" is spelled "Defulat"."
In  MacForge v0.12.1 > Preferences > Plugins section, "Default" is spelled "Defulat".

[2019-10-01 04:10] w0lfschild commented on #15
Thanks

[2019-10-04 02:35] w0lfschild commented on #15
Fixed

[2019-10-04 02:35] #15 closed

[2019-10-05 06:12] w0lfschild opened #16 "Help Wanted❗️💰"
A few things I need support with for this project and am likely willing to pay some small amount for meaningful assistance with:

High priority :

- [ ] Website for browsing / installing plugins
- [ ] Support on backend development ([Firebase](https://firebase.google.com/))

Medium priority :

- [ ] Security improvements
- [ ] Code cleanup / Refactoring

Low priority :

- [ ] Translations

Done

-

[2019-10-05 08:09] kingtosh commented on #16
Please tell me icons specifications you need, maybe i could assist for icons.

[2019-10-05 09:33] drewauff opened #17 "Updates not working...again..."
Also double clicking update button kills app

-
[code]

[2019-10-05 15:02] w0lfschild commented on #17
What are you trying to update that isn't working?

I'll look into the crash.

[2019-10-05 15:47] w0lfschild commented on #16
@kingtosh

For sizing:
- https://iconhandbook.co.uk/reference/chart/osx/

For the menubar:

- Preferably very similar or the same design as the main app icon

For the main app icon:

- Vector image if possible
- Preferably the logo would be inside a circular border with a gradient background similar to the app store icon or many other stock apps.

![appstore](http://www.myiconfinder.com/uploads/ic

[2019-10-08 13:11] relin1226 opened #19 "Apps become unresponsive when using Afloat"
It worked well for weeks but yesterday it suddenly stop every app when running. I only used afloat. So I tried to uninstall it. After reboot everything  goes well, but when i install afloat again it stop other apps again(not in responding). I cannot even open activity monitor to stop it.(not in responding when launch any app)

mac version 10.14.6 mojave

-----------------------

A temporary soluti

[2019-10-13 07:18] #17 closed

[2019-11-01 03:14] w0lfschild commented on #16
New icons have been acquired.

[2019-11-01 03:16] w0lfschild commented on #19
Maybe try [AfloatX](https://www.macenhance.com/mflink?macforge://github.com/w0lfschild/macplugins/raw/master/com.github.jslegendre.AfloatX)?

[2019-11-13 11:41] Magwin70 opened #20 "Menu Bar"
## Feature Request...

🤓Option to hide the MacForge menu bar icon would be nice please 🤓🙏

[2019-11-14 05:13] w0lfschild commented on #20
Yeah I'm pretty sure this can be done pretty easily.

[2019-11-14 05:16] w0lfschild commented on #13
Just gonna cross link the same issue from the Flashlight repo. I'm willing to PayPal someone $20 if they can get it running well on Catalina.

https://github.com/w0lfschild/Flashlight/issues/65

[2019-11-25 09:49] af97272 opened #21 "MacForge: cleanHUD (OS Catalina)"
i am on OS 10.15.1, and cleanHUD isnt showing up, it works but there is no visual indicator. I am running cleanHUD version 0.7.2. MacForge also only picks up my AMFI disabled, but not my SIP which is also disabled

[2019-11-26 00:02] w0lfschild commented on #21
https://github.com/w0lfschild/cleanHUD/issues/9#issuecomment-558396262

[2019-11-26 00:02] #21 closed

[2019-11-28 19:26] w0lfschild commented on #20
This is live in [0.13.2](https://github.com/w0lfschild/app_updates/raw/master/MacForge/MacForge.zip)

[2019-11-28 19:26] #20 closed

[2019-12-06 09:57] adamwinn commented on #19
I'm seeing this, but I dont have Afloat installed.  Also the app icon in the menu bar is invisible, but if I hover over where it is, the cursor beachballs.

![image](https://user-images.githubusercontent.com/3028964/70313746-6ba90a00-17d3-11ea-9bfb-83e2d5148f02.png)

[2019-12-07 17:46] minimum91 opened #22 "Enabling any extension causes all apps to go into crash/reopen loop"
## Bug Report

**Current Behavior**
I replaced mySIMBL with MacForge on my Mac Pro 2010 running 10.12.6 and since, with any extension enabled, everything will go into a constant crash/reopen loop. Removing extensions and or enabling SIP prevents the crash/relaunch loop.

Steps to reproduce the behavior:
1. Go to Manage
2. Click on checkbox for any extension
4. Everything, including SystemUIServer

[2019-12-12 06:44] minimum91 opened #23 "Unable to inject into Library Validated apps"
## Bug Report

Apps like Safari and Mail are unable to load plugins.

Steps to enable injection into Library-Validated apps have been made:
SIP and AMFI disabled.

At first install of MacForge (after removing mySIMBL), this actually worked for literally half a minute and I could see options for Afloat and Fullscreener appear, but after that first minute, the options dissapeared and never appeared

[2019-12-14 21:51] w0lfschild commented on #23
Have you restarted after disabling AMFI?

[2019-12-15 06:58] w0lfschild commented on #22
If you're running 10.12.6

You might want to try mySIMBL instead.

https://github.com/w0lfschild/mySIMBL

[2019-12-15 06:59] w0lfschild commented on #19
@adamwinn That looks like the helper is freezing. Are other apps freezing for you as well?

[2019-12-15 07:59] adamwinn commented on #19
No, not that I've noticed

[2019-12-18 07:03] minimum91 commented on #19
I am experiencing the same behaviour right now.

[2019-12-18 07:04] minimum91 commented on #23
Absolutely.

[2019-12-18 08:47] adamwinn commented on #19
For what it's worth, mine is no longer freezing like that.  I think it has upgraded since I posted.  I'm on `0.13.2` now

[2019-12-18 18:12] ipatch commented on #11
did a repo and cask ever get setup for **macforge** ?

[2019-12-19 04:25] w0lfschild commented on #11
@ipatch I don't know anything about Homebrew and I'm guessing the OP never followed up beyond the pull request they made so I'm guessing that's a no.

[2019-12-19 06:32] pcr910303 commented on #11
@ipatch Looks like the repo owner has abandoned the hombrew tap, and I'm not using MacForge now, so... the PR was abandoned :-(

[2019-12-19 08:08] #11 closed

[2019-12-24 19:40] npyl commented on #16
Hi! I am interested in helping out with cleanup and probably backed using Firebase.

I currently have some ideas on improving the app.  These are:
- Fixing the `remove` bundle functionality (actually already have it on my branch)
- Synchronisation problems between get / remove because `get` button doesn't wait until bundle has been installed and goes straight into enabling the remove and donate bu

[2019-12-26 04:22] w0lfschild commented on #16
@npyl

That's awesome, thanks! Agree that the app needs some refactoring as well.

I've applied all the changes in your branch as well as a few I had already made and I'll be pushing out an update soon.

[2019-12-26 14:51] npyl commented on #16
Hey @w0lfschild
Thanks for merging my patches.
I just rebased and encountered a problem: MacForge starts up, prints a lot "hol up" messages and doesn't respond to Remove and Donate.

[2019-12-26 22:46] w0lfschild commented on #16
@npyl

- Pretty sure I unlinked both the remove and donate button in the latest build. 😅
- "hol up" was just me doing some testing as a few users were getting an error

`Assertion failed: (c != nil), function +[MFInjectorProxy injectPID:::], file /Users/w0lf/GitHub/wb_MacForge/MacForge/MacForgeHelper/MFInjectorProxy.m, line 19`

- Just change this line to `if (c == nil) {`
https://github.com/w0lfs

[2019-12-26 23:06] npyl commented on #16
Hey
Okay, at some point I realised it must have been a stale debugging thing so I changed `!=` to `==`. 😆

As for Firebase, I am still interested.  I myself am not very well versed with web stuff though I am willing to take a stub on it.

I will have a look at it these days, actually.
Oh, btw, happy holidays.

[2019-12-29 21:15] npyl commented on #16
Hey,
I've been digging around, learning Firebase and checking-out the code and I have realised I have some questions. First:
1) How do you want the user-related views to work?

I think that the user shown on the sidebar on the left needs to be the one currently signed-in.
If nobody is signed in, then the name should be that of the current OS-user.

On this mindset, there need to be 2 kinds of view

[2019-12-31 19:57] w0lfschild commented on #16
@npyl

Yeah as you probably noticed I had already made some basic sign in views.

If you actually go back a few versions of MacForge before I disabled the account tab you could already create / sign in and out / update an account but since it served no purpose not a single person did.

As I said earlier

As for what you've done. It seems fine so far.

- Trying to add a picture crashed the app if I

[2020-01-02 03:03] bermudalocket commented on #16
@w0lfschild Hope you don't mind if I piggyback off your conversation here. I am interested in helping with cleanup as a means to getting more familiar with obcj and swift. I'm not sure I could contribute anything terribly useful but there are a few GUI tweaks I have in mind. Mostly minor annoyances that I've come across, such as not being able to see the full description on the update tab.

I'm ru

[2020-01-02 09:39] w0lfschild commented on #16
@bermudalocket

Removing the GoogleService-Info.plist should be fine.

[2020-01-04 20:52] real-cereal-boy commented on #13
U need to grant the program full access, turn off disk check and encryption, then go into recovery, (cmd + r) Select terminal from the drop down menu, type csrutil disable.

At some point you might have to sudo the program in terminal. Apple has been very serious with Catalina and its Security, personally I do not like MacOS Catalina and will be willing to help anyone downgrade as well

[2020-01-04 23:21] w0lfschild commented on #13
https://github.com/w0lfschild/Flashlight/issues/65#issuecomment-569994756

[2020-01-04 23:21] #13 closed

[2020-01-05 06:36] w0lfschild commented on #16
@npyl

Just pushed out a commit that implements some of your stuff from your dev branch in the way I envision the account view working.

[2020-01-05 12:47] npyl commented on #16
@w0lfschild
Ηey, I checked it out and I like your changes; I think we should keep them.

Some improvements:
One thing to mention, there is no way to set the `username` and the photo (`photoURL`) of the user.
This causes a crash on startup after creation of a user.

Other than that, it's pretty nice.
I am currently giving a look at Firestore.  It seems really easy and uses the NoSQL scheme.

[2020-01-05 13:17] npyl commented on #16
@w0lfschild
Hey
I checked it out.
I liked the design but I think there needs to be some kind of changes related to user creation.

I find it more convenient to be able to directly set the `username` and user `photo` through the `Αccount Sign In` view.
I don't find it practical to have to go to `User Info` and then `Update`.
That's only an idea though.  :)

[2020-01-12 02:55] w0lfschild commented on #16
@npyl

I don't mind having user name a photo assigned at creation but they're also unnecessary and can just be the user profile name and icon by default.

Answer 1.1
I'm not sure about syncing functionality but certainly I think it would be nice to keep track of purchases and be able to download them from the account view.

Answer 2
Right now I don't think there is any reason to put in work relati

[2020-01-13 21:19] npyl commented on #16
Okay @w0lfschild ,

When it's done, I will send you a video showing the result.

Finally, If you decide that you like my work I will publish half of the end-project on Github (Ratings & Reviews support) and will expect a 50% payment of the reward.

I will publish the rest (and final) 50% (Purchases support) after the 1st payment.

I guess we could start talking about the reward when you see the vi

[2020-01-14 03:39] w0lfschild commented on #16
@npyl

Do you have discord or some other way of instant messaging instead of conversing through this issue?

[2020-01-14 11:22] npyl commented on #16
@w0lfschild
Sure, my tag is `npyl#8111`

[2020-01-15 06:13] w0lfschild commented on #16
@npyl

Sent you a friend request.

[2020-01-15 07:53] w0lfschild commented on #19
Think I've got a fix for beachballing / crashing helper that will be coming out soon.

[2020-01-15 07:56] w0lfschild commented on #23
Maybe post a screenshot of your 'System' tab in MacForge?
Is the helper crashing / freezing?

[2020-01-18 18:28] InDoubt opened #24 "Can not "try" Todesca: any idea?"
Hi wolfgang,
As far as I remember, I haven't used the trial period of Todeska.
I click in the trial button and take me to the buy option only.
"Thank you for trying plugin"....really?
I wish I could!
How can I try it before buy it?
Thank you!
![Screen Shot 2020-01-18 at 1 21 10 PM](https://user-images.githubusercontent.com/17437998/72668546-11b47a80-39f6-11ea-8af8-49c9e3922886.jpg)
![Screen Shot 2

[2020-01-18 20:24] w0lfschild commented on #19
Should be fixed in 0.14.1

[2020-01-18 20:24] #19 closed

[2020-01-18 20:25] w0lfschild commented on #24
Does it work in 0.14.1?

[2020-01-18 20:25] w0lfschild commented on #23
Should be fixed in 0.14.1

[2020-01-18 20:25] #23 closed

[2020-01-18 20:26] #22 closed

[2020-01-18 21:05] InDoubt commented on #24
Thank you....
but, I update MacForge.
The new MF gave the option to go to trial.
I selected "Continue Trial."...then in Todeska OPEN
and then again: "Purchase Todeska"!
No luck.
Is either Pay $4.99 or Enter License.
And also, I can't close the little pop-up window: Thank you for trying Todeska, not even closing the MacForge main window!
The link you send me is to buy it, and what I want is TO TRY

[2020-01-18 21:18] InDoubt commented on #24
FYI: I'm in iMac 27" Mid 2010- High Sierra latest (10.13.6) version
(Impossible for this Mac to be updated to any of the newest OSX, Mojave or Catalina.

[2020-01-20 18:49] InDoubt commented on #24
This morning checked again: it considers that I'm running the trial when actually that isn't the true.
To get rid of the little pop up screen I have to terminate the processes! as it opens a new one every time I click to try the plugin.
![Screen Shot 2020-01-20 at 1 42 46 PM](https://user-images.githubusercontent.com/17437998/72750740-a7354300-3b8b-11ea-8801-926011f36c56.jpg)
![Screen Shot 2020-01

[2020-02-08 17:14] hsingll opened #27 "crash frequently"
## Bug Report

**Current Behavior**
open MacForge.app ,crash frequently.

**To Reproduce**
Steps to reproduce the behavior:
1. launch MacForge.app.
2. launched and crash in main window.
3. clicked "relaunch".
4. crash again.
5. try again and again, work good not crash luckily.

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Screenshots**
If

[2020-02-08 19:37] w0lfschild commented on #27
Do you have crash logs? They should be here:

`~/Library/Logs/DiagnosticReports`

[2020-02-09 09:22] hsingll commented on #27
[MacForge_2020-02-09-011310_Simon.zip](https://github.com/w0lfschild/MacForge/files/4176660/MacForge_2020-02-09-011310_Simon.zip)

[2020-02-13 08:31] gavinbrockis opened #28 "Colorful Sidebar - customisation"
liking this plugin and my newly recolourised Sidebar - thanks

can you elaborate on the process for customising the icons? cheers

[2020-02-19 00:44] w0lfschild commented on #28
Open the icon plist that corresponds with your version of macOS in

`/Library/Application Support/MacEnhance/Plugins/colorfulSidebar9.bundle/Contents/Resources`

Once you have that open simply add an array to the dictionary with the key being the path to an icon and the items in the array being the path to the folder you want themed

Example

I want to theme the folder `~/Documents` with the image

[2020-02-27 03:50] adamwinn opened #29 "Errors in system.log file"
I see the following in the system.log file
[code]
[code]

**Environment**
- MacForge version(s): .14.1
- OS version: 10.15.3
- Plugins: cDock, colorfulSiderbar9

[2020-02-27 12:00] crapthings commented on #27
[code]

[2020-02-27 12:19] crapthings commented on #27
i've found that macforge doesn't crash if i connect to my vpn .
but it still freeze sometimes

[2020-03-01 18:35] NewsGuyTor opened #30 "amfi_get_out_of_my_way=1 vs amfi_get_out_of_my_way=0x1"
## Bug Report

macOS 10.15.3

I disabled AMFI as per the instructions, by setting amfi_get_out_of_my_way=1 as a boot-arg, but the app still reported that AMFI was disabled. I confirmed that the boot arg was active with "nvram -xp"

Then I googled a bit and discovered that all the other sources mentioned that the boot-arg should be 0x1 instead of 1. I tried that and AMFI was disabled.

Perhaps the

[2020-03-26 19:46] #28 closed

[2020-03-26 19:46] w0lfschild commented on #30
Copy pasted from Discord:

Important message!

If you are currently using MacForge and have turned off Apple Mobile File Integrity (AMFI) using the command `nvram boot-args="amfi_get_out_of_my_way=1"`

You will not be able to add applications to `System Preferences > Security & Privacy > Privacy`. This can completely prevent some applications form functioning or break critical functionality.

In o

[2020-04-05 05:16] Shadowspear123 opened #31 "Why can't analytics be disabled?!"
Hey there, the box for analytics is checked and can't be unchecked in the preferences. Why can't the analytics and reporting be disabled?
Thanks

[2020-04-06 13:43] haniag opened #32 "Hooking is disabled after a while"
## Bug Report

**Current Behavior**
I have latest binary installed (0.14.1). After a while, I notice that tweaks no longer hook.
SIP is disabled, but AMFI is enabled in macOS.
I am hooking non-App Store apps and macOS.
Menu bar is showing.

**To Reproduce**
You can try to reproduce with any tweak.

**Expected behavior/code**
Hooks to be implemented.

**Screenshots**
N/A

**Environment**
- MacForge

[2020-04-07 10:18] tuxfamily commented on #30
@w0lfschild One hundred thanks for this tip! I lost my day because of that! I was on the way of re-installing the whole system when I remembered that the troubles started right after the install of MacForge.

[2020-04-11 04:15] w0lfschild commented on #31
Because I never set it up. If you're worried I'm sure you could use something like littlesnitch to block the connections.

[2020-04-11 04:16] w0lfschild commented on #32
It's likely an app that fails to accept injection crashing / hanging the helper

[2020-04-21 00:19] #30 closed

[2020-04-21 00:21] w0lfschild commented on #29
Should be gone now

[2020-04-21 00:21] #29 closed

[2020-04-21 00:22] w0lfschild commented on #32
Does this still happen with the latest version?

[2020-04-24 01:31] samaero opened #33 "Macforge plugins don't take effect until opening the Macforge GUI (tested with CleanHUD only)"
After the GUI has been opened once, the app can be quit and CleanHUD persists, which makes me think the helper may not be being loaded correctly in the background.

[2020-04-24 06:13] haniag commented on #32
I have been using it for a day, and seems ok.

[2020-04-24 18:24] #32 closed

[2020-04-26 06:34] gavinbrockis commented on #28
Hi, I’ve had to reinstall MacOS - what is my Colourful Sidebar license please? Thanks, Gavin

[2020-04-27 19:41] w0lfschild commented on #28
@gavinbrockis what's the email you used to purchase the license?

[2020-05-04 00:04] w0lfschild commented on #33
If you add the helper manually to your login items does it work?

[2020-05-04 01:26] samaero commented on #33
Yep, that seems to have done it - thanks! The helper was already added, so I had to remove it from the login items, hit Show Package Contents on the app, create a shortcut to MacForgeHelper on the desktop, and add it from there.

[2020-05-12 05:37] rbreaves opened #34 "Major Bug Causes Permanent Beach Ball"
## Bug Report

**Current Behavior**
Was using my computer like normal and then it beachballed. Rebooted and it still beachballed and could not do anything. Had to proceed to ssh in and check things out and this is what I found.

**To Reproduce**
Steps to reproduce the behavior:
Not sure, an apparent mismatch of certs occured

**Expected behavior/code**
Program to cleanly exit if the signature is b

[2020-05-13 10:41] iAmRenzo opened #35 "Flashlight doesn't work"
First of all I didn't disable SIP, I downloaded MacForge, downloaded Flashlight and got rid of MacForge. Why would I download an app to download and use an app?

But anyway, Flashlight doesn't work. I can see the plugins but when I search in Spotlight none of the Flashlight add ons pop up with information. What's going on?

[2020-05-14 05:56] w0lfschild commented on #35
Because MacForge handles the code injection. Some plugins in MacForge are extensive enough that they need their own GUI to allow users to edit settings or expand upon the plugins functionality. At it's core Flashlight is a `plugin` for Spotlight not an app.

[2020-05-23 11:02] phajiyev opened #36 "Open at Login does not work"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environme

[2020-05-23 11:04] havewisdom opened #37 "How to re-enable library validation?"
How to re-enable library validation?
thank you

**We** primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks! 😁.

---

* Gitter: [![Chat](https://img.shields.io/gitter/room/MacEnhance/MacFroge)](https://gitter.im/MacEnhance/MacForge)
* Discord: [![Chat](https://img.shields.io/discord/608740492561219617)](https://discord.gg/zjCHuew

[2020-05-23 20:46] w0lfschild commented on #37
Open terminal and run

`sudo defaults write /Library/Preferences/com.apple.security.libraryvalidation.plist DisableLibraryValidation -bool false`

Then reboot

[2020-05-29 08:43] #35 closed

[2020-05-29 08:44] #31 closed

[2020-06-03 06:37] jiyuan12354 commented on #27
My case is exactly the same as yours

[2020-06-21 09:57] joodo commented on #27
Exactly same. Won't crash after connect vpn.

[2020-06-24 08:23] drewauff opened #39 "Open/Save dialog box issues"
Open and Save dialog box freeze when opened.

How can I add it to the Application Blacklist?

We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks! 😁.

---

* Gitter: [![Chat](https://img.shields.io/gitter/room/MacEnhance/MacFroge)](https://gitter.im/MacEnhance/MacForge)
* Discord: [![Chat](https://img.shields.io/discord/60874

[2020-06-24 13:31] #39 closed

[2020-06-24 19:01] w0lfschild commented on #39
Did you figure out the issue?

[2020-06-27 01:09] drewauff opened #40 "Open/Save Dialog boxes no longer respond"
## Bug Report

MacBook Pro (Retina, Mid 2012)

MacOS Catalina 10.15.5

MacForge 0.14.2

Since the Catalina Supplemental update/Security patch, MacForge has killed all open and save dialog boxes in terms of mouse and touchpad.

Cannot click/taps do not have any affect. NONE.

everything else works as expected.

even killing MacForgeHelper does not bring it back. I had to remove from startup up and

[2020-06-30 00:51] #40 closed

[2020-07-02 09:10] drewauff opened #41 "MacforgeHelper Notifications"
getting MacforgeHelper "Plugins need updating"

but MacForge Updates tab has no plugins listed for updating.

[2020-07-10 21:45] iant333 opened #42 "MacForge v0.14.2 beta(2846) bug?"
## Bug Report

On restart of computer Macforge crashes Boom 3D (Global Delight) v1.3.6

When Macforge is disabled, Boom 3D starts as normal.

**Environment**

- MacForge version: v0.14.2 beta(2846)
- OS version:  macOS 10.15.5
- Plugins: cDock, colorfulSidebar X and ColorMenuItems

[2020-07-10 22:21] w0lfschild commented on #42
Add it to the blacklist?

[2020-07-10 23:04] iant333 commented on #42
Great, thx it solved the problem, many satisfactory restarts.

[2020-07-18 21:09] donmurdoc commented on #34
I had been using Macforge (just with afloat plugin) and now I start getting kinda this same bug.
When I open macforge, it crashes desktop/finder, can't click on stuff. I can open a terminal with spotlight and sudo reboot.
But closing macforge doesn't fix this, I need to reboot.
If I remove afloat, I can open macforge ok, but if I add it, I get the same bug again.

[2020-07-18 21:51] rbreaves commented on #34
I should have mentioned in my original post that the only reason I use macforge is for the afloat extension so perhaps that is the issue - inconjunction w/ something.. don’t know what.

I’m hardly using macOS atm so unless I boot back into it I can’t really do any tests. I imagine I just left it disabled/uninstalled after this bug.

I recently had to resign AltDeploy on the same system.. I wonder

[2020-07-18 22:04] donmurdoc commented on #34
I'm not a programmer or anything but I'm always messing around with stuff that I shouldnt.
Something I did recently is to run this command
`sudo xcode-select --reset`

Cause it wouldn't let me run cmake to compile a software.
Maybe this did something wrong?

[2020-07-18 22:32] rbreaves commented on #34
If you find the same command I had earlier then you’re not really recompiling the software from source - somehow it’s allowed to resign binaries in macOS & yea you’ll probably need Xcode installed 1st via that command.

[2020-07-18 22:43] rbreaves commented on #34
I booted back into macOS so I could document what the command was exactly that fixed AltDeploy. I was unable to document it on that specific repo because the author of it had set it to be "archived" and no further updates are planned.

    codesign --force --deep --sign - /Applications/AltDeploy.app

I also have certain sip and gateway security stuff disabled while having ran that command, but no

[2020-07-18 22:46] donmurdoc commented on #34
Wait I think I lost you.
What is codesign for?

What I mean is that, when I run xcode reset command, it seems to have broken afloat...just because it happened in the same day.

[2020-07-19 06:10] rbreaves commented on #34
Oh I didn't read that full command you had posted, I was on my phone at the time. I thought you mentioned installing xcode via command line not that your may have broken afloat by resetting it via command line. At any rate I was able to fix a certificate related error with another app by codesigning the app via the terminal just fine.

I am just suggesting that if you point it to the right binary

[2020-07-20 00:12] donmurdoc commented on #34
Ah ok, got you.
So, you mean I should try running codesign on xcode? Or maybe some other app that broke afloat ?

[2020-07-20 01:21] rbreaves commented on #34
Yea, I'd probably see about running it against the afloat extension itself or the macforge app or injector component, if it is a separate binary? I am not sure what file or the file location I would try running it against exactly. I assume if it doesn't work then no harm would be done.

[2020-07-30 14:33] luixiuno opened #43 "Is MacForge supporting the latest version of macOS Big Sur? PS. This is more of a question"
Hello, I have macOS Big Sur in my computer (not hackintosh) I'm using original macOS version 11.0 latest beta (20A5323l)

so, Is MacForge safe for my Mac? I don't wanna brick it.

[2020-07-30 14:34] luixiuno commented on #43
This is a question, not an issue.

[2020-07-30 19:41] w0lfschild commented on #43
If you were to build the source code it would work, but the currently released pre-built version does not.

[2020-07-30 19:48] luixiuno commented on #43
so it doesnt support?

[2020-07-30 19:48] luixiuno commented on #43
id like to try

[2020-07-30 19:49] luixiuno commented on #43
does it work on a catalina VM?

[2020-07-30 19:52] luixiuno commented on #43
I would also like to know how to compile github open source apps or projects

[2020-07-30 19:57] luixiuno commented on #43
Can i compile it VIA xcode by downloading the project then opening it pre compiled?

[2020-07-30 20:01] w0lfschild commented on #43
@luixiuno

Not currently no.

Yes.

This software cannot brick any machine.

You'll need Xcode but beyond that this project needs a few changes to compile. You'd need to select your own account for all `Targets` in the `Signing & Capabilities` tab of the project and provide a `GoogleService-Info.plist` which I believe you could just grab out of a precompiled version of the app.

[2020-07-30 20:05] luixiuno commented on #43
The currently open source supports 11.0 beta?

because if it does then im compiling it in xcode, Thanks a lot for the info Wolfgang Bird AKA w0ldschild

[2020-07-30 20:06] luixiuno commented on #43
the auto correct made me type so bad

[2020-07-30 20:08] luixiuno commented on #43
Wolfgang Baird AKA w0lfschild

[2020-07-30 20:09] w0lfschild commented on #43
@luixiuno

Yes.

![Screen Shot 2020-07-30 at 1 08 15 PM](https://user-images.githubusercontent.com/1920148/88969481-c95bfc00-d265-11ea-8fb5-7940b3374273.png)

[2020-07-30 20:12] w0lfschild commented on #43
If you're using GitHub in your web-browser you can edit comments by hitting the little pencil button. Also just w0lf is fine, it's my preferred tag but it's not available on many platforms.

[2020-07-30 20:14] luixiuno commented on #43
Oh thank you so much, this forum is now closed.

[2020-07-30 20:14] #43 closed

[2020-07-30 20:18] luixiuno commented on #16
@w0lfschild So you ve now helped me, now its time i help you, i can probably be a part of this: Website for browsing / installing plugins

[2020-07-30 20:18] luixiuno commented on #16
@w0lfschild i can probably also help a bit with this: Translations

[2020-07-30 20:22] luixiuno commented on #16
Your website might be ready (ETA not known) I can make it at MacForge.github.io/Browse-Plugins/

[2020-07-30 20:23] luixiuno commented on #16
Translations i know are: A bit of portuguese, a lot of english, and tons of spanish, i can also use google translate

[2020-07-30 20:26] w0lfschild commented on #16
Well thanks for the offers.

At the current time I'm not sure about translations until I get the majority of the 1.0 design squared away.

In terms of web-design though, yeah I could use help with that. Basically I'd like to have a page of all the plugins generated from https://github.com/MacEnhance/MacForgeRepo/blob/master/repo/packages.plist

[2020-07-30 20:49] luixiuno commented on #16
sure, i will make a cool webpage hosted by: Github Pages im sorry if the repo will have an addres you dont want, i have a repo already with the name of: luixiuno.github.io for cydia, its beta, it almost always breaks cydia

[2020-07-30 20:56] luixiuno commented on #16
Ok So That Package List Is SOOOOO long, ik what to do

i need a link to open the app so then, its like you go to my website then click redirect to package and then: open in MacForge

[2020-07-30 21:41] luixiuno commented on #16
If you want a website hosted by me, you can just ask at github or at: luixiuno@gmail.com

[2020-07-30 22:59] luixiuno commented on #16
Hey wolfgang, i might later have a pre-built version of the beta of MacForge, signed with paid macOS cert

[2020-07-30 23:44] luixiuno commented on #16
im in such a big rush: luixiuno.github.io/Screen Recording 2020-07-30 at 18.37.30

[2020-07-31 00:06] luixiuno commented on #16
theres a problem with a cocoa thing, put it on do not embeed to solve

[2020-07-31 00:29] luixiuno commented on #16
how do i fix: Pods_com_macenhance_MacForge_Injector ld: framework not found Pods_com_macenhance_MacForge_Injector
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-07-31 00:29] luixiuno commented on #16
Ld /Users/luixiuno/Library/Developer/Xcode/DerivedData/MacForge-ailfjyjtznftnjbiiwqtdgwziirm/Build/Products/Debug/com.macenhance.MacForge.Injector normal x86_64 (in target 'com.macenhance.MacForge.Injector' from project 'MacForge')
    cd /Users/luixiuno/Documents/MacForge/MacForge
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -target x86_64-apple

[2020-07-31 01:24] w0lfschild commented on #16
Ah yeah you'll need to open terminal and go

[code]

Replacing `.../` with the path to MacForge source folder

[2020-07-31 01:52] luixiuno commented on #16
Ill Try That THANK YOU SO MUCH, I ALWAYS KNEW macOS big sur JAILBREAKING WAS POSSIBLE!

[2020-07-31 01:54] luixiuno commented on #16
do i need to download CocoaPods?

[2020-07-31 01:56] luixiuno commented on #16
If you want me to share the beta of MacForge the ETA might be 30/31 jul

[2020-07-31 02:29] luixiuno commented on #16
Uh? where does xcode save the build?

[2020-07-31 02:38] luixiuno commented on #16
Great :) , more errors

[2020-07-31 03:21] w0lfschild commented on #16
@luixiuno

No

Depends, you can set it up to build to anywhere. By default it saves to:
`~/Library/Developer/Xcode/DerivedData/<ProjectName>-<RandomString>/Build/Products/Debug/<BuildName>`

Not sure what to say, looks like an issue with pods, you have to close and re-open the project after fetching pods. You might also get those issues from using the `.xcodeproj`, you should be opening the `.work

[2020-07-31 13:21] luixiuno commented on #16
@wolfschild hw did you just build it but i cant, sorry but im just a kid, idk how to code swift, well, i can edit some .plists and make simple webpages, but im lost idk what to do.

[2020-07-31 13:31] luixiuno commented on #16
im afraid that if i make too much tries and delete that Cocoa framework, maybe all my work in that would need to be started again

[2020-07-31 13:33] luixiuno commented on #16
it looks like a missing file, or xcode doesnt have perms to enter the folder cause its system´s

[2020-07-31 13:35] luixiuno commented on #16
OH MY, THE WORKSPACE HAS A LOT MORE OF THINGS it may work, thanks ;) !

[2020-07-31 15:49] luixiuno commented on #16
i wish we could do a call or something but not in discord, thats grownup

[2020-07-31 16:31] luixiuno commented on #16
English: MacForge an awesome package manager! Spanish: MacForge un administrador de paquetes increible!

[2020-07-31 18:05] luixiuno commented on #16
i need answers

[2020-07-31 20:58] luixiuno commented on #16
Is Wolfgang even online?

[2020-07-31 21:46] w0lfschild commented on #16
I truly appreciate your enthusiasm, I'm just not sure I can help you build it. It's hard to tell what's going on another persons computer.

Would you just like me to build a copy for you or are you more interested in building it yourself?

[2020-07-31 21:48] luixiuno commented on #16
I’m interested to build it myself cause, I’m a genius boy and I never compiled a program :)

[2020-07-31 21:50] w0lfschild commented on #16
Maybe try this: https://stackoverflow.com/a/55086382

[2020-07-31 21:52] luixiuno commented on #16
Yes, I’m tryna make my own version of brew.sh

[2020-07-31 22:17] luixiuno commented on #16
Sorry if I’m flooding the chat but if people are wanting to compile and have errors then they watch this

[2020-07-31 22:57] luixiuno commented on #16
ok i need a copy, if you could make a copy for me then put it in a link then after some secs delete the comment

[2020-08-01 00:42] luixiuno commented on #16
Have you put the link?

[2020-08-01 15:47] luixiuno commented on #16
Does The Webpage Have To Look Modern?

[2020-08-01 19:54] luixiuno commented on #16
So, I need a copy for my Big Sur, not hackintosh

[2020-08-01 22:05] luixiuno commented on #16
Anybody here?

[2020-08-01 22:20] w0lfschild commented on #16
You're loosing me here @luixiuno

here or tweak ID <-- EDIT please build this

I'm not sure what you mean?
You can already link to bundles in MacForge https://github.com/MacEnhance/MacForge/wiki/Bundles-:-Linking
What's nito.tv or brew.sh got to do with any of this?

Are you asking for a copy of MacForge built for Big Sur?

What does that even mean? If you're asking if I just want a webpage of pla

[2020-08-01 23:18] luixiuno commented on #16
Deleted comments, I need a fresh copy of the app, that's all I will say, imma delete all

[2020-08-01 23:46] luixiuno commented on #16
Did not mean to spam

[2020-08-02 01:41] w0lfschild commented on #16
[MacForge.zip](https://github.com/MacEnhance/MacForge/files/5011506/MacForge.zip)

[2020-08-02 01:45] luixiuno commented on #16
THANKS A LOT THAT MEANS A LOT TO ME :)

[2020-08-04 03:00] luixiuno commented on #16
I need help at disabling AMFI Apple Mobile File Integrity

[2020-08-04 03:15] luixiuno commented on #16
OK CCDOCK IN MACOS 11.0 IT CORRUPTS DOCK, i fixed it but dont do it

[2020-08-04 08:59] w0lfschild commented on #16
Don't turn off AMFI.

Instead you should disable Library Validation.

Copy pasted from Discord:

Important message!

If you are currently using MacForge and have turned off Apple Mobile File Integrity (AMFI) using the command `nvram boot-args="amfi_get_out_of_my_way=1"`

You will not be able to add applications to `System Preferences > Security & Privacy > Privacy`. This can completely prevent som

[2020-08-04 17:47] luixiuno commented on #16
So I disabled everything but AMFI and I can enter the system tab, and the preference bundles don't load

[2020-08-04 20:44] w0lfschild commented on #16
What preference bundles?

[2020-08-05 00:48] luixiuno commented on #16
I don't know, I can't enter system, mouse cape doesn't appear, idk if it has it, dockmate doesn't appear and WhosTyping also doesn't

[2020-08-05 03:43] w0lfschild commented on #16
What? I don't even know what you're saying.

[2020-09-02 02:42] luixiuno commented on #16
You might actually never get help, this issue is lonely, and im out

[2020-09-02 19:58] w0lfschild commented on #16
@luixiuno No problem, nobody (including yourself) is obligated to help.

I'm well aware I likely won't ever get any meaningful support on the project and that's fine with me. This issue is 2 years old at this point after all.

[2020-09-07 14:09] biD3V opened #44 "MacForge Plugin Template Not Appearing In Xcode"
## Bug Report

**Current Behavior**
The MacForge Plugin template does not appear in any of the template sections of Xcode

**To Reproduce**
1. Open MacForge
2. Open Xcode
3. Click "Create a new Xcode project" or `File > New > Project...`
4. MacForge Plugin template is not found in any of the sections

**Expected behavior/code**
MacForge Plugin template to appear in macOS templates.

**Environment*

[2020-09-07 20:52] w0lfschild commented on #44
Took it out because there's no point in including it when `99.999%` of users have no use for it.

You can find it here: https://github.com/MacEnhance/MacForgeRepo/tree/master/templates

[2020-09-07 20:53] #44 closed

[2020-09-21 01:32] jtn99994 opened #45 "Uninstalling MacForge - reversing changes made to MacOS"
I installed MacForge and it instructed me to make some changes to my system (partially disabling system integrity protection). I started following the steps but then I realized I was in over my head - I am not a programmer and I don't want to cripple my system's built in security just to install an app.

However, there are no instructions anywhere on how to reverse these changes made in Terminal.

[2020-10-02 22:09] schroef opened #46 "Add csrutil command to readme"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
The initial command we need to enter isn't enough and we need to enter another command when booted using CMD+R. The small annoying thing is that isn't stated on this readme and we need hun

[2020-10-03 02:27] w0lfschild commented on #46
Sure, that can be added.

[2020-10-09 15:54] InDoubt opened #47 "MF shuts off itself overnight! iTunesPlus stops working! Please help!"
## Bug Report

It shuts off itself overnight.

iTunesPlus works fine until next day when it disappears along with MacForge entirely, but oddly enough, cDock and the other plugins continue to work.

1-Lets say, I listen to the music until 10 pm with iTunes. iTunes dock icon has and changes album artwork accordingly. Then I just dim the screen and go to sleep.....so far so good
2-MacForge is in the

[2020-10-10 23:20] w0lfschild commented on #47
Look for `com.macenhance.MacForge.Injector` crashing

[2020-10-11 01:03] InDoubt commented on #47
In the Console?
I typed in to no avail.
Please be patient and advice.
Thank you!

On Oct 10, 2020, at 7:20 PM, Wolfgang Baird <notifications@github.com> wrote:

Look for com.macenhance.MacForge.Injector crashing

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://github.com/MacEnhance/MacForge/issues/47#issuecomment-706624652>, or uns

[2020-10-11 01:17] InDoubt commented on #47
Update:
I kept looking around and found that com.macenhance.MacForge.Injector is alive in the background.
But the other plugins are running.
The icon in the menu bar is gone and iTunes plus is no working.
_

On Oct 10, 2020, at 7:20 PM, Wolfgang Baird <notifications@github.com> wrote:

Look for com.macenhance.MacForge.Injector crashing

—
You are receiving this because you authored the thread.
Rep

[2020-10-26 13:35] gh0stkey opened #49 "Are you considering a stand-alone offline version"
Hey, man.
Are you considering a stand-alone offline version?
I think many people will need.
Thanks.

[2020-11-18 21:55] Arobasefr opened #50 "Dock crashing repeatedly on Big Sur (Black Screen, No Dock)."
when Macforge (1.08) with _colorfulSidebarX.bundle 2.2.0_is active I have  blackscreen with no access to bottom dock and inactiv window color buttons !

# v1 Regression

**Potential Commit/PR that introduced the regression**
If you have time to investigate, what PR/date introduced this issue.

**Describe the regression**
A clear and concise description of what the regression is.

**Expected behavi

[2020-11-19 00:30] w0lfschild commented on #49
Nope, no offline version planned.

[2020-11-19 00:30] #49 closed

[2020-11-19 00:39] w0lfschild commented on #46
It is done.

[2020-11-19 00:39] #46 closed

[2020-11-19 00:47] w0lfschild commented on #45
The wiki has been updated with info to re-enable `System Integrity`

https://github.com/MacEnhance/MacForge/wiki/Uninstallation

[2020-11-19 00:47] #45 closed

[2020-11-19 00:47] w0lfschild commented on #37
Also included in the wiki now

https://github.com/MacEnhance/MacForge/wiki/Uninstallation

[2020-11-19 00:47] #37 closed

[2020-11-19 00:52] w0lfschild commented on #50
Add the Dock to the Blacklist until and update is released.

The Dock is located here `/System/Library/CoreServices/Dock.app`

[2020-11-19 17:54] Arobasefr commented on #50
Thank you very much for your reply. It's OK now :)

[2020-11-20 09:36] yan-kisen opened #51 "Thank You"
Dude,
You are a beast!

Thank you so much for your amazing work over the years.

I couldn't imagine using MacOS without your sweet tweaks!

Really, just wow...

(This was my only way to tell you that)

Also, this Twitter link is broken but I doubt that you care  🤙

![macforge-wg-screeenshot](https://user-images.githubusercontent.com/1116995/99782849-b193d680-2ae7-11eb-92db-64d67c422fb9.png)

[2020-11-23 02:48] #51 closed

[2020-11-23 04:34] w0lfschild commented on #51
Thanks for the support 🙌

I'm working on overhauling the site but thanks for point that out. Easy to miss little things like that.

[2020-12-03 03:27] eret9616 opened #52 "MacForge quit unexpectedly"
## Bug Report

**Current Behavior**
Click 'System' panel in macforge , the app crash

**To Reproduce**
Steps to reproduce the behavior:
1. Open macforge
2. Click on 'system'
3. See error

**Expected behavior/code**
Should open system panel

**Screenshots**
![image](https://user-images.githubusercontent.com/12445095/100959042-68686b80-3558-11eb-89a2-ec4f0ebf5c8d.png)

**Environment**
- MacForge ver

[2020-12-07 12:30] KevOBrien opened #53 "The preview location in DockMate does not account for the dock's position on the screen (bottom, left, or right)"
## Bug Report

**Current Behavior**
The DockMate plugin is only designed to work correctly when the dock is located at the bottom of the screen. If the dock is positioned on the left or right of the screen, there is some unwanted behaviour.

For example, the previews can be shown 50px from the dock. If the dock is at the bottom of the screen, this would mean that the preview will be 50px above the

[2020-12-07 12:32] KevOBrien commented on #53
Better screenshot for reference:

![image](https://user-images.githubusercontent.com/16003438/101351287-d2ab4400-38a9-11eb-8df6-f6d7de40c874.png)

[2020-12-07 21:39] w0lfschild commented on #53
Hmm that's odd it's also definitely a bug that the Text is black there. I'll look into it.

[2020-12-16 00:51] w0lfschild commented on #53
Okay I see what the issue is, has to do with the orientation. It'll be fixed in the next version.

[2020-12-16 00:51] w0lfschild commented on #50
Version 1.1.0 should fix this issue.

[2020-12-16 00:51] #50 closed

[2020-12-16 00:52] #42 closed

[2020-12-18 17:35] dpren opened #54 "Explain Security Implications"
Could we add a section to the README that briefly explains what security one sacrifices by disabling System Integrity Protection and Library Validation? How partially is it being disabled? Does it need to stay disabled? What kind of risk are you taking on by doing this?

This tool is awesome, but I'm unlikely to use it without understanding the tradeoffs. Thanks :)

[2020-12-26 20:08] w0lfschild commented on #54
While I don't honestly think I can well describe the security implications to someone without the tech understanding to already know I've tried my best here:

[Link](https://www.macenhance.com/blog/2020/sip-sec)

[2020-12-26 20:08] #54 closed

[2021-01-13 06:49] eret9616 commented on #52
I tried reinstall this app but still show this error, is there any way I can do to fix this

[2021-01-14 18:44] amhammo opened #55 "SpacesRenamer and MacForge no longer work after upgraded to macOS Big Sur 11.1"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

For several minutes after MacForge is opened, mission control/hot corners/function keys stop working. I have SpacesRenamer installed, and that no longer works at all since updating my OS to Big Sur 11.1.

**To Reproduce**
Steps to reproduce the behavior:

Just open SpacesRenamer and MacForge. No error message app

[2021-01-14 19:00] w0lfschild commented on #55
Update MacForge. You can get the latest versions here [macenhance.com](https://www.macenhance.com/macforge)

[2021-01-14 19:26] amhammo commented on #55
Thank you for redirecting me. I kept checking for updates in the old app and it said it was up-to-date. Still had to uninstall/reinstall/restart a couple times, but now it's working! Just donated, thank you again so much!

[2021-01-14 19:42] w0lfschild commented on #55
No problem 0.X didn't update to 1.X because of some changes I made but in the future the app should keep itself up to date. If it ever doesn't the website is the best place to check.

[2021-01-14 19:42] #55 closed

[2021-02-08 15:12] jcameronjeff commented on #50
Im still experiemcing this issue. V1.1.0 on Mac OS 11.2

[2021-02-10 18:46] Arobasefr commented on #50
Hello,
I had to Blacklist Dropbox.app because Dropbox disappared after boot.
Mac OS 11.2.1 with MAcForge v1.1.0

[2021-02-11 17:28] w0lfschild commented on #50
@jcameronjeff Do you have crash logs?

@Arobasefr That's what the blacklist is there for.

[2021-03-05 06:33] #16 closed

[2021-03-05 06:34] w0lfschild commented on #53
This is fixed in DockMate 0.8+

[2021-03-05 06:34] #53 closed

[2021-03-15 06:33] aner-shab opened #57 "Dockmate erroneously resizing windows on focus"
## Bug Report

**Current Behavior**
When pressing an app's icon on the dock, the application's window will come into view. If it was maximized before doing so, it will resize itself to fill the screen just up to the height of the dock.

**To Reproduce**
Steps to reproduce the behavior:
1. With the dock placed at the bottom edge of the screen:
2. Maximize a window
3. Press another app's icon on the

[2021-03-25 19:55] theigor opened #58 "dockmate: be able to pin a preview and sort by pins then something else"
## Feature Request

**Is your feature request related to a problem? Please describe.**
In apps with lots of windows (chrome, vscode, etc), there is usually a "main" one and then others. It would be great to be able to pin/star/etc a window and then sort by pin _then_ alphabetically or pin, desktop, alpha.

**Describe the solution you'd like**
1. an option in settings that adds another sort option

[2021-03-25 20:05] theigor opened #59 "dockmate: window minimizes when middleclicking a link"
## Bug Report

**Current Behavior**
This is very strange and I can't pin it directly to dockmate but it started happening only when I installed dockmate. Basically, what I am noticing is that _occasionally_, when i middle click a link in chrome to open it in a new tab, the whole window minimizes. It seems to only happen in windows that I haven't opened in a while. Like come back to the computer in

[2021-03-25 20:06] theigor commented on #59
this might be related to https://github.com/MacEnhance/MacForge/issues/57

[2021-03-27 22:44] w0lfschild commented on #58
Thanks for the feedback something like this is probably possible to add at some point.

[2021-03-27 22:45] w0lfschild commented on #59
Have you tried just quitting DockMate and seeing if the issue persists because I don't see how this could be related to DockMate.

[2021-03-27 22:51] theigor commented on #59
It's very sporadic in general. I'm keeping a mental note of when it happens. It _feels_ like something like if the computer comes back from sleep, window is minimized, then I bring it up from dockmate by clicking on thumbnail and then the first thing I do is middle click a link. Maybe the OS is still thinking it's minimized somehow and just trues up its state. But it's not _always_. I can't find a

[2021-03-27 23:15] luixiuno commented on #58
On Sat 27 Mar 2021 at 16:45 Wolfgang Baird ***@***.***> wrote:

Good Luck

[2021-04-04 02:46] r-plus opened #60 "Disable SIP only fs and debug section on BigSur."
Hi @w0lfschild, this is just information, please close when you read.

I read your blog post https://www.macenhance.com/blog/2020/bigsur.html about broken `--without debug` option about SIP and confirm it on BigSur.

I found the workaround to disable SIP feature only for `fs` and `debug` on BigSur by `csrutil disable --with kext --with dtrace --with nvram --with basesystem`. This is works well.

r

[2021-04-04 22:35] w0lfschild commented on #60
Thanks for the feedback

The real workaround is to accept that if you've turned off the debug+filesystem restriction of SIP having the other options on really does essentially nothing in terms of security.

Also I submitted the issue as a bug to Apple a few months back and it has been fixed in macOS 11.3

Future releases of MacForge will simply instruct users to use `csrutil disable`.

[2021-04-05 15:28] r-plus commented on #60
okey, it is simple :)

[2021-04-05 15:28] #60 closed

[2021-04-05 20:10] w0lfschild commented on #60
Yeah I'll probably add it into the documentation next time I update my website. Once again, thanks for the feedback.

[2021-04-08 21:20] BlueCrystal01 opened #61 "DockMate: Add option to preferences to enable DarkMode for DockMate"
## Feature Request

We are using DockMate and it's a nice replacement for hyperdock. :-)

The only thing what we don't like is: in order to make the background of the preview windows dark you have to enable darkmode in system preferences (the problem is that you are switching the whole system to darkmode which most of us don't like).

It would be very nice if you could add an option to enable Dark

[2021-04-08 23:04] w0lfschild commented on #61
Thanks for the feedback, the option will be in the next release.

[2021-04-09 04:54] BlueCrystal01 commented on #61
Thank you very much for your fast response and adding the option to DockMate. :-)

[2021-05-02 13:00] tempelmann opened #62 "Conflicting information about minimum supported system version (10.13 vs 10.14)"
The website at https://www.macenhance.com/macforge.html says that MacForge requires 10.14, whereas the Readme at https://github.com/MacEnhance/MacForge says that 10.13 is the min version.

Please clarify / fix this.

[2021-05-02 21:59] #62 closed

[2021-05-03 06:13] eret9616 commented on #52
[code]
still show this error..

[2021-05-03 14:22] eret9616 commented on #52
Add a new user account in mac , install macforge in that user, solved this problem

[2021-05-03 14:22] #52 closed

[2021-05-23 13:45] eret9616 opened #63 "Support M1 macs"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

Wish this support M1 macs, ..😭

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise d

[2021-05-28 23:09] tami5 commented on #63
😭😭

[2021-05-29 03:53] w0lfschild commented on #63
@eret9616 @tami5
You can try the beta in our Discord : https://discord.gg/zjCHuew

[2021-06-08 02:15] SuperChrisliu opened #64 "crash on Catalina 10.15.7 (19H1030)"
## Bug Report

**Current Behavior**
download last release zip file and unzip,run and crash

**To Reproduce**
Steps to reproduce the behavior:
just open ...

**Environment**
- MacForge version(s): last release :  https://github.com/w0lfschild/app_updates/raw/master/MacForge1/MacForge.zip
- OS version: Catalina 10.15.7
- Plugins: no

[2021-06-08 02:23] SuperChrisliu commented on #64
Process:               MacForge [14259]
Path:                  /private/var/folders/*/MacForge.app/Contents/MacOS/MacForge
Identifier:            com.macenhance.MacForge
Version:               1.1.0 (5977)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           MacForge [14259]
User ID:               501

Date/Time:             2021-06-08 09:57:28.716 +0800
OS

[2021-06-15 22:32] andriilive opened #65 "Password recovery"
Missing password recovery

[2021-06-30 03:21] Echardwang commented on #64
Same issue. Any solution yet?

[2021-07-16 04:32] PoomSmart opened #66 "Missing information in Wiki > Bundles: Creating page"
## Feature Request

https://github.com/MacEnhance/MacForge/wiki/Bundles-:-Creating

Regarding these steps `Open Xcode and navigate File > New > Project...` and `Search for MacForge Plugin`,

The readers won't find MacForge Plugin because they are not aware that the template now belongs to this repository: https://github.com/MacEnhance/MacForgeRepo

**Describe the solution you'd like**

Mention htt

[2021-07-22 21:17] nico-147 opened #67 "com.w0lf.MacForge.Injector"
## Bug Report

**Current Behavior**
system.log shows this line every 10 seconds

"com.apple.xpc.launchd[1] (com.w0lf.MacForge.Injector): Service only ran for 0 seconds. Pushing respawn out by 10 seconds."

**Environment**
- MacForge version(s): 0.14.2
- OS version: macOS 10.14.6
- Plugins: colorfultoolbar

**Additional context**
I may have broken something by reinstalling Macforge and then redisab

[2021-10-29 22:37] drewauff opened #68 "Add to Homebwer"
Please add Macforge and the plugins to Homebrew, makes for much easier and faster package managment.

[2021-12-07 00:18] oreilles commented on #68
This will require a separate tap:
https://docs.brew.sh/Acceptable-Casks

[2022-01-11 06:43] citovsky opened #69 "does not work on MacBook Pro M1 max under macOS 12.2"
SIP and lib validation disabled but still does not work

[2022-01-16 01:19] withinboredom opened #70 "Cam"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environme

[2022-01-16 01:19] #70 closed, assigned to w0lfschild

[2022-02-04 14:38] DUOLabs333 opened #71 "MacForge crashes on MacOS Big Sur M1"
## Bug Report

**Current Behavior**
No plugins installed works

**To Reproduce**
Steps to reproduce the behavior:
1. Install MacForge on Big Sur
2. Open MacForge
3. See Crash Log in `Console`

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).
Plugins work
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**

[2022-03-16 05:28] searleser97 commented on #71
Does someone know how do we install de Beta version which includes M1 support?

[2022-04-02 14:36] L-M-Sherlock commented on #71
here: https://github.com/MacEnhance/appcast/raw/master/Beta/MacForge/MacForge.1.2.0B1.zip

But in my mac, it doesn't work with AfloatX.

[2022-05-01 09:39] nynewco commented on #69
Does not work on M1 Pro OS 12.3.

Symptoms: Grays out the top bar, kills the dock, disables swiping to another desktop.

One thing I am not clear about -- to disable SIP, do you do (I have tried both, but want to know which to focus on, since there are so many steps involved)

1) csrutil disable in Recovery?

OR

This approach?
2) Disable [System Integrity Protection]

Open Terminal.app and run th

[2022-05-01 10:08] nynewco commented on #69
I got it to work. I used approach no. 1 above:

csrutil disable in Recovery

and DID NOT use approach no. 2 above.

I kept trying and trying and all of a sudden, the dock disappeared and then came back after a few seconds.

[2022-05-01 10:55] nynewco commented on #69
I spoke too soon. I had got it to work but after restarting, I am facing the same problems again. Not sure what a stable, full-proof sequence of steps is. Maybe someone else can pick up the baton.

[2022-05-07 17:48] haniag opened #72 "Support hooking app frameworks"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When I run the application, only code within it can be swizzled. The code within the frameworks used by the application can't be swizzled/accessed.

**Describe the solution you'd like**
I used this code to load all frameworks on iOS using dlopen to hook app frameworks, and it can be adapted to MacForge:

    NSS

[2022-05-15 23:27] nynewco commented on #69
hey @jslegendre and @w0lfschild. Any chance you got to meddle with a Pro M1 to suggest a way forward to use MacForge on them?

[2022-05-25 18:10] #71 closed, assigned to w0lfschild

[2022-07-15 07:44] devnoname120 commented on #30
@w0lfschild Can't you just do the following instead?

[code]

Non-Apple-signed arm64e DriverKit binaries such as [yabai](https://github.com/koekeishiya/yabai/) won't work though. Adding `-arm64e_preview_abi` to the `boot-args` breaks `amfi_get_out_of_my_way=1` due to a bug in macOS 12.4.

[2022-08-02 16:32] m0onb1rd opened #73 "[DockMate] Please fix broken Spotify preview or let us disable DockMate for specific apps"
## Bug Report

**Current Behavior**
Spotify preview is permanently blank.

**To Reproduce**
1. Open Spotify
2. Hover over it on Dock

**Expected behavior/code**

**Screenshots**
https://i.imgur.com/U2F4pyX.png

**Environment**
- OS version: macOS Monterey 12.5
- Plugins: DockMate

**Possible Solution**
Fix if possible, or even better, allow users to exclude apps from previews (I personally do not

[2022-08-02 16:34] camayl commented on #73
To add, I am aware that I can turn off previews completely via editing /User/Library/Preferences/apple.comdock.plist. However, I cannot get this change to persist, every day it just resets.

[2022-09-17 06:27] qaisarsulaiman commented on #73
Same issue, pretty annoying considering the app was paid, yet not maintained.

[2022-09-19 17:57] NSExceptional commented on #72
If you want to hook a framework class, all you need to do is `dlopen` that one framework (not all of them) to ensure it is first loaded, and then use `NSClassFromString()` to look up the class by name to swizzle it with.

[2022-10-09 00:48] GJRobert commented on #60
Pardon me to use this as a asking board. If I ever need to enable SIP again to use certain macOS functions (e.g. to execute iOS apps from App Store, where it asks for higher system integrity and security), what command can I use in Recovery to meet macOS requirements while still maintain the usability of MacForge?

[2022-10-24 23:50] sedaray opened #74 "MacForge injection causes Safari webkit error"
## Bug Report

**Current Behavior**
Safari Error on every page:

Safari Can’t Open the Page
Safari can’t open the page “http://zydecopartyband.com/”. The error is: “WebKit encountered an internal error” (WebKitErrorDomain:300)

**To Reproduce**
Steps to reproduce the behavior:
1. MacForge enabled, start Safari.
2. Error - on any page.
3. If I go to MacForge menu and check "Disable Injection",  and

[2022-10-28 11:11] zwzheng45 commented on #74
Same problem +1

[2022-10-31 08:45] Raizelian commented on #69
I can add to this saying that it doesn't work on M1 Pro running 12.6 either.

I tried both methods too, but nothing changed; no extension seems to work at the moment.

[2022-11-03 13:06] a-ludwig1980 commented on #53
I think the bug is not solved....

<img width="604" alt="Bildschirmaufnahme 2022-11-03 14 05 39" src="https://user-images.githubusercontent.com/117365381/199728246-c40da132-1fe0-4370-b360-b03365002776.png">

[2022-11-06 10:34] Arobasefr opened #75 "macOS Ventura issues"
## Bug Report

**Current Behavior**
I can't see **no content** of my mail in Mail app and MS Outlook.
I can't write mail messages anymore.

When I disable the colorfulSidebarX plugin,  normal behaviour comes back.in both mail app's.

I tried to put the two APP's in blacklist , but that doesn't make any difference !

**Environment**
MacbookPro 15" 2018
- MacForge version(s): v 1.1.0
- OS version: m

[2022-11-19 08:24] kevinjohncutler commented on #75
I was also having this issue and took forever to realize it was macforge... the only plugin I use is afloatX, but it appears that 'disabling injection' from the menu bar allows it to still work (at least, the invert color function that I use) but the mail previews come back in outlook.